@font-face {  
  /* 重命名 */
  font-family: 'hgzt';
  src: url('./coregtd6-2.otf'); 
  font-weight: normal;  
  font-style: normal;  
}

@font-face {  
  /* 重命名 */
  font-family: 'PFM';
  src: url('./PingFang Medium.woff') format('woff'); 
  font-weight: normal;  
  font-style: normal;  
}

@font-face {  
  /* 重命名 */
  font-family: 'PFB';
  src: url('./PingFang Bold.woff') format('woff'); 
  font-weight: normal;  
  font-style: normal;  
}

@font-face {  
  /* 重命名 */
  font-family: 'PFH';
  src: url('./PingFang Heavy.woff') format('woff'); 
  font-weight: normal;  
  font-style: normal;  
}